{% extends 'base.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}

    {{ parent() }}

    <h1>Thanks for your attempted order!</h1>
    <p>
        We would appreciate your business!
        But your payment failed :(
        <a href="mailto:orders@example.com">failures@example.com</a>.
    </p>

<div>

</div>
{% endblock %}
