{% extends 'base.html.twig' %}

{% block title %}Make Payment{% endblock %}

{% block body %}

    {{ parent() }}

    <form action="/checkout" method="POST">
        <button type="submit" class="btn btn-primary btn-lg">Checkout</button>
    </form>

<div>

</div>
{% endblock %}
